---
layout: default
title: Bienvenue sur la page du film
---

<!-- Haut de page -->

<section class="top-page">
    <div class="film_hero" style="background-image : url('../assets/img/photo_hero.jpg');"></div>
    <section class="film_info">
        <article class="affiche">
            <img src="../assets/img/Affiche de film/7jours.png" alt="photo affiche"/>
            <div>
                <span>TOUT PUBLIC</span>
                <b>VO</b>
                <b>VF</b>
            </div>
        </article>

        <article class="description">
            <h1><b>7 Jours</b><br />
                <span>(ぼくらの七日間戦争5)</span>
            </h1>
            <div>
                <h4>Synopsis :</h4>
                <p>La veille des vacances d'été, Mamoru découvre que sa voisine Aya, dont il est secrètement amoureux, va déménager. Il lui propose de fuguer une semaine pour fêter ses 17 ans. Ils se cachent dans une usine désaffectée où ils sont rejoints par leurs amis. Ils découvrent bientôt qu’ils ne sont pas seuls à se cacher là : un jeune réfugié thaïlandais tente d’échapper à la police en attendant de retrouver ses parents. La joyeuse escapade prévue par Mamoru se transforme alors en guerre de 7 jours pour sauver leur protégé.</p>                        <p><b>Type  :</b> Animation comédie dama</p>
                <p><b>Durée : </b>128 min</p>
                <p><b>Réalisateur : </b>Murano</p>
                <p><b>Casting : </b>Dupire Mathieu</p>
            </div>
        </article>
    </section>

</section>
<div class="TitrePhoto">
    {% include titre.html content="Bande d'annonce" %}
</div>


    <!-- Programmation du film -->

<section class="horaires">
    <h2>Horaires :</h2>
    <ul>
        <li><b>10:30</b><br />VF</li>
        <li><b>12:00</b><br />VF</li>
        <li><b>15:30</b><br />VF</li>
        <li><b>18:00</b><br />VO</li>
        <li><b>20:30</b><br />VO</li>
    </ul>
    <p>Réserver votre ticket selon la séance de votre choix</p>
</section>
<section class="video">


    <div class="TitrePhoto">
        {% include titre.html content="Photos" %}
    </div>
    
    <div>
        <iframe class="BAvf" width="632" height="395" src="https://www.youtube.com/embed/9jDoyv7KYVM" title="BandeAnnonceVf" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="BAvo" width="632" height="395" src="https://www.youtube.com/embed/7WEKLi_DL00" title="BandeAnnonceVo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>



    
</section>

<section class="photo_slider">

</section>

<section class="voir_seances">
    {%include button.html content="Voir plus de séances"%}
</section>



