<footer>
    <section class="row row2">
        <div class="a col-lg-4"></div>
        <div class="b col-lg-4"></div>
        <div class="c col-lg-4"></div>
    </section>
    <div class="container">
        <div class="row row1">
            <div class="col-lg-3">
                <img src="../assets/img/white-logo.svg" class="logo-footer" alt="Logo du Cinéma le Festival">
            </div>
        </div>
        <div class="row row1">
            <div class="col-lg-3">
                <h1>Pour en savoir plus, contacter nous au 09 51 99 04 80</h1>
            </div>
        </div>
    </div>
</footer>