<header>
    <div class="container">
        <div class="row row1 header">
            <nav>
                <a class="menu_header" href="">Accueil</a>
                <a class="menu_header" href="">Programme</a>
                <a class="menu_header" href="">E-Billet</a>
                <a class="menu_header" href="">À propos </a>       
            </nav>
            <a class="logo col-12 col-lg-3" href="index.html"><img src="../assets/img/logo.svg" alt="logo cinéma le festival"></a>
            <div class="recherche col-12 col-lg-3">
                <img src="../assets/img/recherche.svg" alt="Icône rechercher">
                <input type="search" tabindex="Champ de recherche" placeholder="Rechercher">
            </div>
        </div>
    </div>
</header>