<header>
    <div class="container">
        <div class="row row1 header">
            <nav class="col-lg-4">
                <a href="">Accueil</a>
                <a href="">Programme</a>
                <a href="">E-Billet</a>
                <a href="">À propos </a>       
            </nav>
            <a class="logo col-lg-3" href="index.html"><img src="../assets/img/logo.svg" alt="logo cinéma le festival"></a>
            <div class="recherche col-lg-3">
                <img src="../assets/img/recherche.svg" alt="Icône rechercher">
                <input type="search" tabindex="Champ de recherche" placeholder="Rechercher">
            </div>
        </div>
    </div>
</header>