button{
    position: absolute;
    width: 400px;
    background-color: $rouge;
    color: $noir;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: 0.5ms;
    border-style: none;
    margin-bottom: 30px;
    transition: all 0.5ms;

    p{
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        align-self: center;
        font-family: $titre;
        font-size: 20px;
        font-weight: 800;
    }

    .fleche{
        padding: 0;
        margin: 0;
        content: url('../../assets/img/flefleche.svg');
        align-self: center;
        width: 40px;
        height: 100%;
        padding-left: 20px;
        display: table;
    }
}

button:hover{
    transition: 0.5ms;
    background: $blanc;
    fill: $rouge;
    color: $rouge;
    border: solid 5px $rouge;
    transition: 5ms;

    .fleche{
        content: url('../../assets/img/fleflechebis.svg');
    }
}