.button{
    width: 400px;
    background-color: $rouge;
    color: $noir;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 0px;

    p{
        display: flex;
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: $titre;
        font-size: 26px;
        font-weight: 800;
    }

    img{
        padding-left: 20px;
        display: flex;
        width: 40   px;
    }
}