footer{
    background: $noir;
    height: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
    color: $blanc;
}

.footer-bar{
    background: $orange;
    position: relative;
    height: 25px;
    width: 100vw;

    ::before{
        position: absolute;
        background: $rouge;
        width: 33%;
        top: 0;
        left: 0;
        content: ' ';
    }

    ::after{
        position: absolute;
        background: $jaune;
        width: 33%;
        top: 0;
        right: 0;
        content: ' ';
    }
}

.logo-footer{
    margin-top: 30px;
    height: 100%;
    width: 100%;
}

.icons{
    display: flex;

    svg{
        color: $blanc;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.footer-text{
    padding-top: 150px;
}

.footer-logo{
    padding-bottom: 60px;
}