*{
    font-family: 'Raleway', Arial, sans-serif;
}

header{
    align-content: center;
    position: sticky;
    top: 0;
    background: $blanc;
    color: $noir;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    height: 250px;
    z-index: 7;
    overflow: hidden;

    div.container{
        display: flex;
        justify-content: center;
    }

    @media (min-width:992px) {
        height: 120px;
        background-image: url("../../assets/img/banner.png");
        background-repeat: no-repeat;
        background-position: top right;
    }
}

.header{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    width: fit-content;

    @media (min-width:992px) {    
            display: grid;
            align-content: center;
            grid-template-rows: none;
            grid-template-columns: 33% 33% 33%;
            height: 120px;
            align-content: center;
    }
}

nav{
    order: 2;
    display: flex;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    align-content: center;
    padding-top: 30px;

    @media (min-width:992px) {
        display: flex;
        order: 1;
        align-items: center;
        font-weight: 500;
    }
}

    a{
        margin: 0;
        margin-right: 50px;
        border-bottom: $noir;
        @media screen and (max-width:400px) {
            margin: 10px;
        }
    }

.logo{
    order: 1;
    display: flex;
    width: auto;
    margin-top: 10px;
    justify-content: center;
    height: 100px;

    @media (min-width:992px) {
        display: table;
        order: 2;
        margin: auto;
    }
}

input{
    font-size: 15px;
    text-align: start;
    font-family: var(--fontMonserrat);
    font-weight: lighter;
    background-color: $blanc;
    border: none;
    border-bottom: solid 3px $noir;
    color: $noir;
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
}

*:focus-visible{
    outline: solid 1px $orange;
}

a{
    color: var(--noir);
    margin: 20px;
    font-family: var(--fontRaleway);
    text-decoration: none;
}

.recherche{
    width: 400px;
    height: fit-content;
    display: flex;
    order: 3;
    justify-content: center;
    margin-top: 10px;
    
    input{
        display: flex;
        text-align: center;
        width: 200px;
        font-weight: 600;
    }

    img{
        width: 30px;
        display: flex;
        margin-right: 10px;
    }

    @media (min-width:992px) {
        display: flex;
        margin: auto;
        order: 3;
        margin-right: 300px;

        img{
            margin-right: 10px;
        }

        input{
            margin-right: 250px;
        }
    }
}

.head-page{
    height: 710px;
    background-image: url("../src/img/background-accueil1.png");
    display: flex;
    margin: 0;
    font-family: var(--fontMonserrat);
    color: var(--blanc);
}

.banner{
    height: 40%;
    width: 20%;
}