button{
    font-family: $texte;
    font-size: 22px;
    background-color: $rouge;
    color: $noir;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover{
    background-color: $orange;
}