.redbutton{
    font-family: $text;
    font-size: 26px;
    font-weight: 500;
    background-color: $rouge;
    color: $noir;
    border: none;
    border-radius: 0px;
    padding: 30px;
    cursor: pointer;
}

.redbutton:hover{
    background-color: $orange;
}

.but-a{
    margin-bottom: 70px;
    margin-left: 480px;
}