body {
    color: $noir;
    font-family: serif;
}

.container_img{

    background-image: url("../../assets/img/hero.png");
    height: 587px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $text;
    position: relative;

}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $titre;
    font-weight: 500;
    font-size: 20px;
}

.filtre:hover{
    font-weight: 600;
}

li{
    margin: 20px 52px;
}



.container_hero{
    height: 100%;
    h1{
        color: $blanc;
        font-size: 48px;
        font-weight: 700;
        b{
            color: $blanc;
            font-size: 64px;
        }
    }

}


.h1_hero{
    padding: 50px 0;
}

.container_img h2{
    color: $orange; 
    font-size: 26px;
    font-weight: 400;
}

.scan_pass {
    background-color: #2A3175;
    display: inline;
    color: $blanc;
    padding: 2px 5px;
    position: absolute;
    right: 14px;
    bottom: 110px;
    letter-spacing: 2px;
    font-weight: 500;

}

.pass{
    position: absolute;
    right: 0;
    bottom: 0;
}

.rowafiche{
    margin: 100px 0;
}

.FA{
    width: 100%;
}

figcaption{
    text-align: center; 
    margin: 10px 0;
    font-family: $text;
}

.evenements{
    height: 317px;
    display: flex;
    justify-content: center;
    font-family: $titre;
    a{
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        &:hover{
            color: gray;
        }
    }
    b{
        font-size: 22px;
        font-weight: 700;
    }
 }

.festival{
    background-image: url("../../assets/img/img_festival.png");
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: .3s ease-in;
    background-position: center;
    &:hover{
        background-size: 140%;
    }
}

.activite{
    background-image: url("../../assets/img/img_enfants.png");
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: .3s ease-in;
    background-position: center;
    &:hover{
        background-size: 140%;
    }
}



// .festival:hover{
//     background-size: 140%;
    
// }

// .evenements a{
//     font-size: 16px;
//     font-weight: 400;
//     margin: 0;
// }

// .evenements a:hover{
//     color: gray;
// }

// .evenements b{
//     font-size: 22px;
//     font-weight: 700;
// }

.h2_cinema {
    padding: 100px 0;
    text-align: center;
    font-family: $titre;
    font-weight: 700;
    font-size: 48px;
    color: $blanc;
}

.evnmt{
    background-color: $noir;
    font-family: $titre;
    
    .titre{
        color: $noir;
    }
}

.img_cinema{
    width: 100%;
    
}

.cinema{
    color: $blanc;
    font-family: $text;
    button{
        border: none;
        background-color: $rouge;
        padding: 17px 50px;
        font-size: 16px;
        font-weight: 700;
        margin-top: 60px;
        display: inline;
        position: absolute;
        bottom: 10px;
    }
    h3{
        font-size: 24px;
        font-weight: 700;
    }
    p{
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
    }
    h6{
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
    }
}


.my_col_cinema{
    height: 494px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
    div{
        margin: 50px 0; 
    }
}


.liste_horaires{
    text-align: center;
    color: $orange;
    padding-bottom: 150px;
    display: flex; 
    flex-direction: column;
    b{
        color: $blanc;
        font-weight: 700;
    }
    li{
        padding: 15px 0;
        margin: 0px;
    }
}


.mapadresse {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position:relative;
    z-index: 2; 
    .mapadressecol_1 {
        overflow: hidden;
        padding: 0;
        position: relative;
        z-index: 1;
    }
    .mapadressecol_2{
        display: flex;
        .Adresse{
            color: $blanc;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            margin-left: 100px ;
            justify-content: center;
            font-family: $text;
            align-self: center;
        }
        .lecadre {
            position:absolute;
            z-index: 0;
            height: 325px;
            width: 1050px;
            top: 85px;
            left: 50px;
        }
    }
    
}



.ounoustrouver {
    margin: 10px 0px 20px 0px;
    font-weight: 700;
    font-size: 27px;
}



.cinemalefestivaladress, .adresseducine {
    margin-bottom: 20px;
}



.button-align{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 100px;
}

.h2_horaires {
    margin: 150px 0px 75px 0px;
    text-align: center;
    font-family: $titre;
    font-weight: 700;
    font-size: 48px;
    color: $blanc;

}

.titre-conteneur{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

// page film

.top-page{
    display: flex;
    flex-direction: column;
}

.film_hero{
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.film_info{
    display: flex;
    margin-top: -170px;
    margin-left: $margeDesktop;
}

.affiche{
    display: flex;
    flex-direction: column;
    img{
        width: 325px;
        height: auto;
    }
    span{
        background-color: $orange;
        font-family: $titre;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
    }
    b{
        background-color: $noir;
        font-family: $titre;
        font-size: 20px;
        font-weight: 700;
        color: $blanc;
        padding: 10px;
    }
    div{
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: $margeMobile;
        font-family: $text;
        font-weight: bold;
        margin: 50px 0;
    }
}


.description{
    margin-left: $margeDesktop;
    margin-left: 100px ;
    font-family: $titre;
    h1{
        font-size: 48px;
        font-family: $titre;
        line-height: 60px;
        margin-bottom: 90px;
        b{
            font-weight: 700;
            background-color: $jaune;
            padding: 3px 20px;
            font-size: 48px;
        }
        span{
            font-weight: 400;
        background-color: $jaune;
        padding: 5px 20px;
        }
    }
    h4{
        font-family: $titre;
        font-size: 24px;
        font-weight: 700;
        margin: 30px 0;
    }
    p{
        font-family: $text;
        padding-right: 150px;
        line-height: 30px;
        margin: 30px 0;
    }
    b{
        font-family: $titre;
        font-size: 16px;
        font-weight: 700;
    }
}


.horaires{
    margin-left: $margeDesktop;
    font-family: $titre;
}

.video{
    display:flex;
    justify-content: center;
    padding-bottom: 80px;

    div iframe:last-child{
        padding-left: 70px;
    }

}

