body {
    color: $noir;
    font-family: serif;
}

.container_hero{
    border: 3px solid darkorange;
}
.container{
    border: 2px solid black;
}

.row{

    border: 2px solid red;

}

.rowafiche{
    margin: 100px 0;
}

.my_col{
    border: 2px solid yellow;
}

.FA{
    width: 100%;
}

figcaption{
    text-align: center; 
    margin: 10px 0;
    font-family: ;
}